global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["172.19.0.9:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["xcommand-cadvisor:8080"]
